.container {
  display: grid;
  grid-template-columns: 1fr 4.5fr;
  grid-template-rows: 1fr;
  height: 100vh;
  gap: 15px;
  margin: 0px;
  padding: 10px;
  background-color: #27374d;
}
.nav-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  margin: none;
  padding: 10px;
  background-color: blueviolet;
}
.content-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

hr {
  width: 90%;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}
.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3vh;
}
.stats {
  grid-column: span 2;
  background-color: #526d82;
}
.settings {
  background-color: #526d82;
}
